<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Chrome Test">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="com.ti.selenium.patronesdediseño.testcases.StudentsTest"></class>
            <class name="com.ti.selenium.patronesdediseño.testcases.LoginTest"></class>
        </classes>
    </test>
</suite>